.common-form-message{
    border-radius: 10px;
    border: solid 1px #00e676;
    color: #00e676;
    padding: 10px;
    width: 93%;
    margin: 10px 0px;
    font-family: Thin;
    font-size: 10px;
}