.features-item{
    width: 32%;
    color: #B1C0DD;
    text-align: center;
    margin: 8px 0px;
    font-size: 17px;
}
.features-caption{
    font-size: 10px;
    color: #B1C0DD;
}

.school-footer{
    color: grey;
    font-size: 9px;
    text-align: center;
    padding: 10px;
    width: 93%;
    margin-top: 20px;
}

.school-display-button{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0px;
}

