.chip{
    font-size: 12px;
    color: #04BFBF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5px #04BFBF solid;
    padding: 5px 10px;
    border-radius: 3px;
}
.cart-dialog{
    padding: 20px;
    height: 70vh;
}
.cart-button{
    text-align: center;
    padding: 20px;
    border-top: 1px solid #00d882;
    position: absolute;
    width: 90%;
    bottom: 0;
    cursor: pointer;
}

.cart-title{
    font-size: 18px;
}

.cart-radio{
    font-size: 12px;
}