.class-display-address{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.feature-table{
    width: 100%;
    margin-bottom: 30px;
    font-size: 13px;
}
.feature-icon{
    color: #353535;
    margin-bottom: -2px;
    margin-right: 5px;
}
.PrivateTabIndicator{
    background-color: #00b7c6;
}