.home-categories-box, .home-categories-image{
    width: 25vw;
    height: 25vw;
    border-radius: 5px;
    margin: 5px;
}

.home-categories-image{
    margin: 0px;
}

.categories-label{
    position: absolute;
    width: 25vw;
    background-image: linear-gradient(black, rgba(0,0,0,0));
    padding: 2vw;
    border-radius: 5px;
    font-size: 12px;
    color: white;
}