.number{
    background-color: #04BFBF;
    color: white;
    font-weight: 200;
    padding: 20px 10px;
    font-size: small;
    max-width: 100%;
}
.container{
    width: 100%;
    display: flex;
}
.item{
    background-color: white;
    margin: 5px 10px;
    border: solid #E6E6E6 0.5px;
    border-radius: 5px;
    max-width: 100%;
    width: 95%;
    text-align: left;
}
.name{
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.map{
    margin-left: auto;
    margin-right: 30px;
    font-size: 7px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.2);
    display: flex;
}
.type{
    color: grey;
    font-size: 13px;
    margin: 10px 10px 2px 10px;
    font-weight: 400;
    align-self: center;
}
.fees{
    margin: 10px 10px;
    font-weight: 500;
    font-size: 13px;
    color: black;
    display: flex;
}
.showImage{
    object-fit: cover;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
}
.itemButton{
    width: 100%;
    border: none;
    fill: none;
    background-color: transparent;
    text-align: left;
    font-weight: 300;
    font-size: 17px;
}
.overlap{
    position: absolute;
    top: 0;
    z-index: 3;
}
.alternateImg{
    height: 55vw;
    background-size: cover;
    display: flex;
}
.age{
    background-color: #04BFBF;
    margin-left: 10px;
    padding: 3px 7px;
    width: 60px;
    color: #ffff;
    font-size: 11px;
    border-radius: 3px;
    margin-top: -12px;
    font-weight: 400;
    min-width: 50px;
}
.newType{
    background-color: #85dbdb;
    margin-left: 10px;
    padding: 3px 7px;
    width: auto;
    white-space: nowrap;
    min-width: 50px;
    color: white;
    font-size: 11px;
    border-radius: 3px;
    margin-top: -12px;
    margin-bottom: 0px;
    font-weight: 400;
}
.courseDisplay{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-between;
    padding: 0px 10px;
}
.displayContainer{
    padding: 10px;
    border: solid gray 1px;
    border-radius: 5px;
    font-size: 11px;
    white-space: normal;
    width: 150px;
    min-height: 130px;
    margin: 10px;
}
.bottom{
    align-self: flex-end;
}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
 @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }